* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.content-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.form {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    transition: opacity 0.6s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.banner {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 49%;
    height: 98%;
    transition: transform 0.8s ease-in-out, right 0.8s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.content-login.register-active .banner {
    transform: translateX(-102%);
}

.content-login.login-active .banner {
    transform: translateX(0%);
}

.content-login.register-active #form-login {
    opacity: 0;
    pointer-events: none;
}

.content-login.register-active #form-register {
    opacity: 1;
    pointer-events: auto;
}

.content-login {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    height: 500px;
    border-radius: 10px;
    background-color: #ffffff;
}

.content-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-gap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-select {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 50px;
    background-color: #f0eff2;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid rgb(226, 226, 226);
}

.select {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.select:hover {
    background-color: #a7a7a71f;

}

.active {
    color: black;
    background-color: #ffffff;
    font-weight: 600;
}

.title {
    font-size: 27px;
    font-weight: bold;
}

.subTitle {
    color: #9b9b9b;
}

.input-title {
    color: rgb(61, 61, 61);
    font-weight: 600;
    margin-top: 20px;
}

.custom-input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid #7c7c7c;
    font-weight: 600;
    outline: none;
    margin-top: 3px;
}

.btn-login {
    width: 320px;
    height: 38px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #7c96e2;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #6c83c7;
    color: #ffffff;
}

.content-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}

#background-canvas {
    position: absolute; 
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    background: transparent;
    z-index: 0;
    border-radius: 20px;
}


.img-back-gradient {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}

.img-back {
    width: 230px;
    height: 230px;
    margin-bottom: 20px;
    animation: boil 3.5s infinite;
    z-index: 1;
}

@keyframes boil {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}