@import "../../globals/global.css";

body {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.display {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.display > * {
  margin-top: 3rem;
}

.back-arrow {
  filter: invert(1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  position: absolute;
  display: flex;
}

.back-arrow:hover {
  transform: scale(1.1);
}


.ranking-section
.logs-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ranking-display {
  position: relative;
  height: 80%;
  width: 80%;
  color: black;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px) saturate(25%);
  -webkit-backdrop-filter: blur(2px) saturate(25%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  scrollbar-width: auto;
  scrollbar-color: #f7f7f7 transparent;
}

.title {
  color: white;
}

.subTitle {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.ranking-display .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

.ranking-card {
  position: relative;
  display: flex;
  box-shadow: -4px 4px 0px 0px rgba(167, 167, 167, 0.75);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  height: 70px;
  width: 90%;
  background: rgb(211, 211, 211);
}

.ranking-card:hover {
  scale: 1.01;
  cursor: pointer;
}

.ranking-card > .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.ranking-card > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2px;
  width: 70%;
  padding-left: 1rem;
}

.ranking-card > .info p {
  font-size: 1.1rem;
}

.ranking-card > .info p:nth-child(1) {
  font-weight: bold;
}

.ranking-card > .position {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.avatar-img {
  width: 50px;
}

