* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {   
    min-height: 100vh;
    position: relative;
}

.display {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.display > section {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.ranking-section, .logs-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-display {
    background: linear-gradient(45deg, #937ce7, #9d42d9);
    background-color: rgb(132, 175, 175);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.26);
    height: 70%;
    width: 80%;
    border-radius: 10px;
    color: white;
}

.ranking-display .title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-display .content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 90%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.ranking-display .content {
  scrollbar-width: thin;                 
  scrollbar-color: #e8e8e8 transparent;      
}

.ranking-card {
    position: relative;
    display: flex;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.515);
    padding: 10px;
    border-radius: 10px;
    height: 70px;
    width: 90%;
    background: linear-gradient(90deg, #9d42d9, #6241db);
}

.ranking-card > .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.ranking-card > .info {
    width: 70%;
    padding-left: 1rem;
}

.ranking-card > .info p {
    font-size: 1.1rem;
}

.ranking-card > .info p:nth-child(1) {
    font-weight: bold;
}

.ranking-card > .position {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.avatar-img {
    width: 100%;
}

.logs-display .title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logs-display {
    width: 90%;
    height: 70%;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
}

.logs-display .content {
    overflow: scroll;
    height: 90%;
}

.logs-display table {
    width: 100%;
}

.logs-display table, .logs-display table td, .logs-display table th, .logs-display table, .logs-display tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}

.logs-display table td, .logs-display table tr {
    height: 40px;
    text-align: center;
}

.logs-display .content table thead th {
    position: sticky;
    top: 0;
    background-color: #937ce7;
}

.result-victory {
    background-color: rgb(124, 203, 6);
    border-radius: 40px;
    padding: 5px 20px;
    box-sizing: border-box;
}

.result-defeat {
    background-color: rgb(203, 36, 6);
    border-radius: 40px;
    padding: 5px 20px;
    box-sizing: border-box;
}