* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    position: relative;
}

.display {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Remover*/
.display>section {
    width: 100%;
    height: 100%;
}

.ranking-section,
.logs-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ranking-display {
    background: rgba(124, 150, 226, 1);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.26);
    height: 80%;
    width: 80%;
    border-radius: 10px;
    color: white;
}

.ranking-display .title {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.ranking-display .content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    height: 80%;

}

.ranking-display .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    scrollbar-width: thin;
    scrollbar-color: #e8e8e8 transparent;
}

.ranking-card {
    position: relative;
    display: flex;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 10px;
    height: 70px;
    width: 45%;
    background: rgb(202, 144, 250);
}

.ranking-card>.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.ranking-card>.info {
    width: 70%;
    padding-left: 1rem;
}

.ranking-card>.info p {
    font-size: 1.1rem;
}

.ranking-card>.info p:nth-child(1) {
    font-weight: bold;
}

.ranking-card>.position {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.avatar-img {
    width: 50px;
}

.logs-display .title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logs-display {
    width: 80%;
    height: 70%;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.logs-display .content {
    overflow: auto;
    height: 100%;
}

.logs-display table {
    width: 100%;
}

.logs-display table,
.logs-display table td,
.logs-display table th,
.logs-display table,
.logs-display tr {
    border-collapse: collapse;
    padding: 5px 10px;
}

.logs-display tbody tr {
    border-top: 1px solid black;
}

.logs-display table td,
.logs-display table tr {
    height: 40px;
    text-align: center;
}

.logs-display .content table thead th {
    position: sticky;
    top: 0;
    background-color: #937ce7;
}

.logs-display table th:first-child {
    border-top-left-radius: 10px;
}

.logs-display table th:last-child {
    border-top-right-radius: 10px;
}

.logs-display table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.logs-display table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.result-victory {
    background-color: rgb(124, 203, 6);
    border-radius: 40px;
    padding: 5px 20px;
    box-sizing: border-box;
}

.result-defeat {
    background-color: rgb(203, 36, 6);
    border-radius: 40px;
    padding: 5px 20px;
    box-sizing: border-box;
}