* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#background-canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    text-shadow: 0 0 5px #7c96e2;
}

.title {
    line-height: 0.7;
    text-align: center;
}

.content-btn {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 20px;
    margin-top: 15px;
}

.button-cta {
    padding: 15px;
    transition: 0.2s ease-in-out;
    border: 1px solid #7c96e2;
    border-radius: 8px;
}

.button-cta:hover {
    background-color: #7c96e2;
    transform: scale(1.1);
    color: #fff;
    cursor: pointer;
}

.text-btn {
    font-size: 22px;
    text-align: center;
    font-family: cursive;
    font-weight: 600;
}